
*.rar
*.o
*.d
*.crf
*.htm
*.dep
*.map
*.bak
*.lnp
*.lst
*.ini
*.iex
*.scvd
*.uvguix*
*.dbg*
*.mxproject
*.uvoptx
*.uvmpw
*.log*


Templates/
code.si4project/
!*.uvprojx
!*.h
!*.c
*.axf
*.bin
*.hex
*.hexcode.si4project/
MDK-ARM/ML-S.uvprojx
doc/测试数据/pic/