
*.rar
*.o
*.d
*.crf
*.htm
*.dep
*.map
*.bak
*.lnp
*.lst
*.ini
*.iex
*.scvd
*.uvguix*
*.dbg*
*.mxproject
*.uvoptx
*.uvmpw
*.log*
*.pdf


Templates/
code.si4project/
!*.uvprojx
!*.h
!*.c
*.axf
*.bin
*.hex
*.hexcode.si4project/
MDK-ARM/ML-S.uvprojx
doc/测试数据/pic/
# 构建/工具产物 (2026-08-28)
I301_code/MDK-ARM/build_cli_log.txt
I301_code/MDK-ARM/build_log.txt
I301_code/MDK-ARM/.vscode/
# 宿主单测编译产物 (2026-09-03)
tests/*/test_*
!tests/*/test_*.c

